@font-face {
  font-family: "sf-pro";
  src: url("../../src/assets/Fonts/SF-Pro.ttf") format("truetype");
}
@font-face {
  font-family: "sf-italic";
  src: url("../../src/assets/Fonts/SF-Pro-Italic.ttf") format("truetype");
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(22, 22, 22);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "sf-pro";
  color: white;
  transition: all 0.3s ease-in-out;
}
.container .iphone_mockup {
  position: relative;
  background-color: #99840a;
  width: 320px;
  height: 640px;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 3px 1px #fff;
  filter: drop-shadow(12px 19px 16px #000000);
  animation: anim 500ms ease-in-out forwards;
}
@media (min-width: 769px) {
  .container .iphone_mockup {
    width: 90%;
    height: 90%;
    padding: 13px 5px;
  }
}
.container .iphone_mockup .notch {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  width: 115px;
  height: 30px;
  background-color: black;
  top: 18px;
  border-radius: 50px;
  gap: 5px;
}
@media (min-width: 769px) {
  .container .iphone_mockup .notch {
    top: 20px;
  }
}
.container .iphone_mockup .notch .speaker {
  width: 40px;
  height: 4px;
  border-radius: 20px;
  background-color: #1b1b1b;
  border: 0.7px solid #171717;
  box-shadow: inset 0px -0.3px 1px 0px #8c8c8c;
  opacity: 0.5;
}
.container .iphone_mockup .notch .cam {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #1b1b1b;
  box-shadow: inset 0px -0.3px 1px 0px #8c8c8c;
  opacity: 0.5;
}
.container .iphone_mockup .power_btn {
  position: absolute;
  z-index: 50;
  background-color: red;
  right: -2px;
  top: 160px;
  width: 3px;
  height: 80px;
  background: linear-gradient(90deg, transparent, #99840a);
  border-radius: 10px 20px 20px 10px;
}
@media (min-width: 769px) {
  .container .iphone_mockup .power_btn {
    transform: rotate(90deg);
    right: 248px;
    bottom: -42px;
    top: auto;
  }
}
.container .iphone_mockup .volume_btn {
  position: absolute;
  z-index: 50;
  left: -2px;
  top: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
@media (min-width: 769px) {
  .container .iphone_mockup .volume_btn {
    transform: rotate(90deg);
    left: 434px;
    top: -51px;
  }
}
.container .iphone_mockup .volume_btn .up {
  width: 3px;
  height: 45px;
  background: linear-gradient(90deg, #99840a, transparent);
  border-radius: 10px 20px 20px 10px;
}
.container .iphone_mockup .volume_btn .down {
  width: 3px;
  height: 45px;
  background: linear-gradient(90deg, #99840a, transparent);
  border-radius: 10px 20px 20px 10px;
}
.container .iphone_mockup .nav_pill {
  position: absolute;
  z-index: 50;
  bottom: 20px;
  background-color: rgb(255, 255, 255);
  width: 40%;
  height: 4px;
  border-radius: 20px;
  display: none;
  mix-blend-mode: difference;
  cursor: pointer;
}
.container .iphone_mockup .nav_pill.open {
  display: block;
}
.container .iphone_mockup .iphone_border {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 295px;
  height: 615px;
  border-radius: 45px;
  background-image: url(../../src/assets/image/w1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 8px solid black;
  z-index: 30;
  position: relative;
  overflow: hidden;
}
@media (min-width: 769px) {
  .container .iphone_mockup .iphone_border {
    width: 100%;
    height: 100%;
  }
}
.container .iphone_mockup .iphone_border .status_bar {
  position: absolute;
  top: 3px;
  width: 100%;
}
@media (min-width: 769px) {
  .container .iphone_mockup .iphone_border .status_bar {
    width: 325px;
  }
}
.container .iphone_mockup .iphone_border .status_bar img {
  width: 100%;
}
.container .iphone_mockup .iphone_border .doc {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 10px 13px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  gap: 10px;
}
.container .iphone_mockup .iphone_border .doc a .app {
  width: 55px;
  height: 55px;
  border-radius: 10px;
}
.container .iphone_mockup .iphone_border .doc a:nth-child(1) .app {
  background-image: url(../../src/assets/icons/phone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container .iphone_mockup .iphone_border .doc a:nth-child(2) .app {
  background-image: url(../../src/assets/icons/safari.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container .iphone_mockup .iphone_border .doc a:nth-child(3) .app {
  background-image: url(../../src/assets/icons/whatsapp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container .iphone_mockup .iphone_border .doc a:nth-child(4) .app {
  background-image: url(../../src/assets/icons/facebook.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container .iphone_mockup .iphone_border .app_section {
  width: 100%;
  height: 85%;
  display: flex;
}
.container .iphone_mockup .iphone_border .app_section .app_container {
  height: 80px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.container .iphone_mockup .iphone_border .app_section .app_container:nth-child(1) .app {
  background-image: url(../../src/assets/icons/hardware_trainging.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .iphone_mockup .iphone_border .app_section .app_container:nth-child(2) .app {
  background-image: url(../../src/assets/icons/software_trainging_.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .iphone_mockup .iphone_border .app_section .app_container .app {
  width: 55px;
  height: 55px;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
}
.container .iphone_mockup .iphone_border .app_section .app_container span {
  text-align: center;
  font-size: 10px;
}
.container .iphone_mockup .iphone_border .open_app_section {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background-color: white;
  animation: anim 300ms ease-in-out forwards;
  align-items: center;
  justify-content: center;
}
.container .iphone_mockup .iphone_border .open_app_section.open {
  display: flex;
}
.container .iphone_mockup .iphone_border .open_app_section.close {
  display: none;
}
.container .iphone_mockup .iphone_border .open_app_section .open_status {
  position: fixed;
  top: 3px;
  width: 100%;
}
@media (min-width: 769px) {
  .container .iphone_mockup .iphone_border .open_app_section .open_status {
    width: 320px;
  }
}
.container .iphone_mockup .iphone_border .open_app_section .open_status img {
  width: 100%;
}
.container .iphone_mockup .iphone_border .open_app_section .software_training,
.container .iphone_mockup .iphone_border .open_app_section .hardware_training {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: none;
  color: black;
}
.container .iphone_mockup .iphone_border .open_app_section .software_training.open,
.container .iphone_mockup .iphone_border .open_app_section .hardware_training.open {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(180deg, rgb(113, 97, 239) 0%, rgb(149, 127, 239) 100%);
}
@media (min-width: 769px) {
  .container .iphone_mockup .iphone_border .open_app_section .software_training.open,
  .container .iphone_mockup .iphone_border .open_app_section .hardware_training.open {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 90px;
  }
}
.container .iphone_mockup .iphone_border .open_app_section .hardware_training .st_icon {
  width: 90px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.container .iphone_mockup .iphone_border .open_app_section .hardware_training .st_icon p {
  font-size: 15px;
  font-weight: 900;
}
@media (min-width: 769px) {
  .container .iphone_mockup .iphone_border .open_app_section .hardware_training .st_icon {
    width: 230px;
  }
  .container .iphone_mockup .iphone_border .open_app_section .hardware_training .st_icon p {
    font-size: 20px;
    font-weight: 900;
  }
}
.container .iphone_mockup .iphone_border .open_app_section .hardware_training .st_icon img {
  width: 100%;
}
.container .iphone_mockup .iphone_border .open_app_section .hardware_training .course_content {
  margin-top: 30px;
  height: 50%;
  overflow: auto;
}
@media (min-width: 769px) {
  .container .iphone_mockup .iphone_border .open_app_section .hardware_training .course_content {
    margin: 0;
    height: 80%;
    overflow: auto;
    /* Optional: show position indicator in red */
  }
  .container .iphone_mockup .iphone_border .open_app_section .hardware_training .course_content::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  .container .iphone_mockup .iphone_border .open_app_section .hardware_training .course_content::-webkit-scrollbar-thumb {
    background: #FF0000;
  }
}
.container .iphone_mockup .iphone_border .open_app_section .hardware_training .course_content ul {
  margin: 0;
}
.container .iphone_mockup .iphone_border .open_app_section .hardware_training .course_content ul li::marker {
  color: #673bb7;
}
.container .iphone_mockup .iphone_border .open_app_section .software_training .st_icon {
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
}
.container .iphone_mockup .iphone_border .open_app_section .software_training .st_icon p {
  font-size: 15px;
  font-weight: 900;
  margin: 0;
}
@media (min-width: 769px) {
  .container .iphone_mockup .iphone_border .open_app_section .software_training .st_icon {
    width: 230px;
  }
  .container .iphone_mockup .iphone_border .open_app_section .software_training .st_icon p {
    font-size: 20px;
    font-weight: 900;
  }
}
.container .iphone_mockup .iphone_border .open_app_section .software_training .st_icon img {
  width: 100%;
}
.container .iphone_mockup .iphone_border .open_app_section .software_training .course_content {
  margin-top: 30px;
}
.container .iphone_mockup .iphone_border .open_app_section .software_training .course_content ul {
  margin: 0;
}
@media (min-width: 769px) {
  .container .iphone_mockup .iphone_border .open_app_section .software_training .course_content ul {
    font-size: 25px;
  }
}
.container .iphone_mockup .iphone_border .open_app_section .software_training .course_content ul li {
  color: black;
}
.container .iphone_mockup .iphone_border .open_app_section .software_training .course_content ul li::marker {
  color: #673bb7;
}

@keyframes anim {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pop_up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=index.css.map */