@font-face {
    font-family: 'sf-pro';
    src: url("../../src/assets/Fonts/SF-Pro.ttf") format('truetype');
}

@font-face {
    font-family: 'sf-italic';
    src: url("../../src/assets/Fonts/SF-Pro-Italic.ttf") format('truetype');
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: rgb(22, 22, 22);
}


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'sf-pro';
    color: white;

    .iphone_mockup {
        position: relative;
        background-color: #99840a;
        width: 320px;
        height: 640px;
        border-radius: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 0 3px 1px #fff;
        filter: drop-shadow(12px 19px 16px #000000);
        animation: anim 500ms ease-in-out forwards;

        .notch {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 50;
            width: 115px;
            height: 30px;
            background-color: black;
            top: 18px;
            border-radius: 50px;
            gap: 5px;

            .speaker {
                width: 40px;
                height: 4px;
                border-radius: 20px;
                background-color: #1b1b1b;
                border: 0.7px solid #171717;
                box-shadow: inset 0px -0.3px 1px 0px #8c8c8c;
                opacity: .5;
            }

            .cam {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: #1b1b1b;
                box-shadow: inset 0px -0.3px 1px 0px #8c8c8c;
                opacity: .5;
            }
        }

        .power_btn {
            position: absolute;
            z-index: 50;
            background-color: red;
            right: -2px;
            top: 160px;
            width: 3px;
            height: 80px;
            background: linear-gradient(90deg, transparent, #99840a);
            border-radius: 10px 20px 20px 10px;
        }

        .volume_btn {
            position: absolute;
            z-index: 50;
            left: -2px;
            top: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            flex-direction: column;

            .up {
                width: 3px;
                height: 45px;
                background: linear-gradient(90deg, #99840a, transparent);
                border-radius: 10px 20px 20px 10px;
            }

            .down {
                width: 3px;
                height: 45px;
                background: linear-gradient(90deg, #99840a, transparent);
                border-radius: 10px 20px 20px 10px;
            }
        }

        .nav_pill {
            position: absolute;
            z-index: 50;
            bottom: 20px;
            background-color: rgb(255, 255, 255);
            width: 40%;
            height: 4px;
            border-radius: 20px;
            display: none;
            mix-blend-mode: difference;
            cursor: pointer;

            &.open{
                display: block;
            }
        }

        .iphone_border {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgb(255, 255, 255);
            width: 295px;
            height: 615px;
            border-radius: 45px;
            background-image: url(../../src/assets/image/w1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 8px solid black;
            z-index: 30;
            position: relative;
            overflow: hidden;

            .status_bar{
                position: absolute;
                top: 3px;
                width: 100%;

                img{
                    width: 100%;
                }
            }

            .doc {
                position: absolute;

                bottom: 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                align-content: center;
                padding: 10px 13px;
                border-radius: 25px;
                background-color: rgba(255, 255, 255, 0.3);
                gap: 10px;

                .app {
                    width: 55px;
                    height: 55px;
                    border-radius: 10px;

                    &:nth-child(1) {
                        background-image: url(../../src/assets/icons/phone.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }

                    &:nth-child(2) {
                        background-image: url(../../src/assets/icons/safari.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }

                    &:nth-child(3) {
                        background-image: url(../../src/assets/icons/whatsapp.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }

                    &:nth-child(4) {
                        background-image: url(../../src/assets/icons/facebook.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }
                }
            }

            .app_section{
                width: 100%;
                height: 85%;
                display: flex;
                
                .app_container{
                    display: flex;
                    flex-direction: column;
                    margin: 10px;

                    &:nth-child(1){
                        .app{
                            background-image: url(../../src/assets/icons/hardware_trainging.jpg);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                    &:nth-child(2){
                        .app{
                            background-image: url(../../src/assets/icons/software_trainging_.jpg);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }

                    .app{
                        width: 55px;
                        height: 55px;
                        background-color: black;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                    span{
                        text-align: center;
                        font-size: 10px;
                    }
                }
            }

            .open_app_section{
                position: absolute;
                width: 100%;
                height: 100%;
                display: none;
                background-color: white;
                animation: anim 300ms ease-in-out forwards;

                &.open{
                    display: block;
                }

                &.close{
                    display: none;
                }


                .open_status{
                    position: fixed;
                    top: 03px;
                    width: 100%;

                    img{
                        width: 100%;
                    }
                }

                .software_training{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    color: black;
                    width: 100%;
                    margin-top: 60px;
                    display: none;
                    &.open{
                        display: flex;
                    }

                    .st_icon{
                        width: 150px;
                        border-radius: 10px;
                        overflow: hidden;

                        img{
                            width: 100%;
                        }
                    }

                    .course_content{
                        margin-top: 30px;
                        ul{
                            margin: 0;

                            li{
                                &::marker{
                                    color: #673bb7;
                                }
                            }
                        }
                    }
                }

                .hardware_training{
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    color: black;
                    width: 100%;
                    margin-top: 60px;
                    display: none;
                    overflow: auto;
                    max-height: calc(100vh - 60px);
                    &.open{
                        display: flex;
                    }

                    .st_icon{
                        width: 150px;
                        border-radius: 10px;
                        overflow: hidden;

                        img{
                            width: 100%;
                        }
                    }

                    .course_content{
                        margin-top: 30px;
                        ul{
                            margin: 0;

                            li{
                                &::marker{
                                    color: #673bb7;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@keyframes anim {
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pop_up {
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}